{% extends 'base.html'%}

{% block title %} Post Archive {% endblock %}
{% block content %}
   <h1>Post Archive until {% now "N d, Y" %}</h1>
    <!--now 현재의 날짜와 시간을 출력 -->
    <ul>
        {% for date in date_list %}
        <!--객체 리스트에서 날짜 정보만을 추출해 담고있는 객체-->
            <li style="display:inline;">
                <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">Year-{{ date|date:"y" }}</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <div>
        <ul>
            {% for post in object_list %}
            <li>{{ post.modify_date|date:"Y-m-d" }} &nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}