{% extends 'base.html' %}
{% block title %}password_change{% endblock %}

{% block content %}
    <form action="." method="post"> {% csrf_token %}
        {% if form.errors %}
        <p>Wrong! {{ form.errors }}</p>
        {% endif %}

        <fieldset>
            <div class="form-row">
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>
            <div class="form-row">
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>
            <div class="form-row">
                {{ form.new_password2.label_tag }}{{ form.new_password2 }}
            </div>
            <div class="submit-row">
                <input type="submit" value="Password Change">
            </div>

            <script>document.getElementById('id_old_password').focus();</script>
        </fieldset>
    </form>
{% endblock %}