{% extends 'base.html' %}
{% block title %} Register {% endblock %}

<!--{% load staticfiles %}-->
<!--{% block extrastyle %}{% static 'css/forms.css'%}{% endblock %}-->

{% block content %}
    <h1>New User Registration</h1>
    <form action="." method="post"> {% csrf_token %}
        {% if form.errors %}
        <p><b>Wrong!</b>{{ form.errors }}</p>
        {% endif %}
        <p>Please enter your username etc</p>
    <fieldset>
        <div class="form-row">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>
        <div class="form-row">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <div class="submit-row">
            <input type="submit" value="register">
        </div>
        <script>document.getElementById('id_username').focus();</script>
    </fieldset>

    </form>

{% endblock %}

<!--UserCreationFrom 사용 -->